body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 2;
}

section {
    max-width: 800px;
    margin: 50px auto;

    strong {
        font-weight: 700;
        font-size: 20px;
    }
}

#results {
    strong {
        font-weight: 600;
        font-size: 18px;
    }
}

